APP_ROOT=/usr/pywikibot
WIKI_API=https://www.wiki.eu/api.php
WIKI_PAGE_BASE_URL=https://www.wiki.eu/wiki/
CONFIG_DIR=BotConfig
LOG_DIR=BotLog
PYWIKIBOT_DIR=Bot
TASKS_SUBDIR_NAME=Tasks
PROCEDURES_SUBDIR_NAME=Procedures
TASKS_DOCUMENTATION_PAGE_PREFIX=Project:UniversalBot/Documentation/Tasks/
PROCEDURE_DOCUMENTATION_PAGE_PREFIX=Project:UniversalBot/Documentation/Procedures/
PROCEDURE_INTERPRETER_CMD=python3